body {
  font-family: "Montserrat", sans-serif;
  background: #e4ebfa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
aside {
  width: 370px;
  background: #1e2939;
}

.main-photo {
  margin-top: 25px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}

.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}

.list-soft-skills {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.list-soft-item {
  color: #ffffff;
}

main {
  padding: 102px 88px 102px 88px;
  width: 100%;
}
.main-description {
  width: 400px;
}
.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.description {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.projects {
  width: 485px;
  margin-bottom: 51px;
}

.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}

.list-aprimary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.job-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 20px;
  width: 525px;
}

.job-name1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.job-list1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 20px;
  width: 525px;
}

.job-name2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.job-list2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: inside;
  padding-left: 0;
  width: 525px;
}
.learning {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

.learning-place {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.learning-direction {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
